@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background: #fff;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
   text-shadow: 3px 5px 2px #474747;
}

button {
    padding: 16px 68px;
    margin: 16px 0;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    width: 300px;
}

button:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    transition: 0.5s ease-in-out;
}

input[type='text']{
    margin-top: 10px;
    padding: 5px 5px;
    outline: 0;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    width: 150px;
}

.copy_btn {
    padding: 10px 20px;
    margin: 16px 0;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    width: 143px;
    text-align: center;
}

.toast-message {
    top: 32px;
    right: 32px;
    background: #4285F4;
    color: #FFF;
    border: 1px solid #4285F4;
    position: fixed;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
}

.toast-message-slide-in {
    animation: toast-animation-in 0.6s ease-in;
}

.toast-message-slide-out{
    animation: toast-animation-out 0.6s ease-in;
}

@keyframes toast-animation-in {
    from{
        transform: translateX(200px);
        opacity: 0;
    }to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes toast-animation-out {
    from{
        transform: translateX(0px);
        opacity: 1;
    }to {
        transform: translateX(200px);
        opacity: 0;
    }
}